HTML,
body {
  margin: 0px;
  padding: 0px;
  border: 0px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #1C3041;
  color: white;
  text-align: center;
}
button {
  padding: 0px;
  border: none;
  display: inline-block;
  cursor: pointer;
  margin: 2px;
}
/*
  https://coolors.co/palette/363b4e-4f3b78-927fbf-c4bbf0-ffffff
  https://coolors.co/palette/272532-22254b-373b69-7378c5-6099b9
*/
img {
  background-color: #1C3041;
}